<?xml version="1.0"?>
<launch>
  <arg name="map_file" default="$(find grobot_maps)/maps/example_world.yaml" />
  <include file="$(find grobot_bringup)/launch/includes/patrol_robot.xml">
    <arg name="name" value="karl" />
    <arg name="x" value="-2.0" />
    <arg name="y" value="2.0" />
    <arg name="map_file" value="$(arg map_file)" />
    <arg name="radius" value="1.5" />
    <arg name="clockwise" value="true" />
    <arg name="has_marker" value="true" />
  </include>
</launch>
  